/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');*/
@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.li:before {
    content:”\00A3″; font-family: “FontAwesome”; font-weight: normal; 
}

html,
body {
    padding: 0;
    margin: 0;
    height:100%;
    font-family: 'Roboto', sans-serif;
}

div#container {
    min-height: 100%;
    position: relative;
}

div.footer-div {
    position: absolute;

    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

main{
    padding-bottom: 2.5rem;
}

.header-container{
    background-color: #24943E;
    height: 150px;
}

h1.title{
    font-size: 40px;
}

p.subtitle{
    font-size: 30px;
}

footer#page-footer{
    background-color: #208337;
}

.nav-container{
    background-color: #208337;
}

#nav-extended{
    display:none;
}

.btn-safe-color{
    color: white;
    background-color: #208337;
    border-color: #208337;
}

.btn-safe-color:hover{
    color: white;
    background-color: #29A847;
    border-color: #29A847;
}


.sidebar {
    display: none;
    position: absolute;
    background-color: #208337;
    z-index: 2;
}

div.sidebar > nav > ul {
    list-style-type: none;
    padding: 0 40px;
    line-height: 50px;
}

a {
    color: white !important;
    font-weight: bold !important;
}

a:hover{
    text-decoration: none !important;
}

nav li:hover {
   background-color: #29A847;
   border-color:  #29A847;
}

footer > ul li > a{
    transition: font-size 0.5s;
    color: white;
}

footer > ul li:hover > a{
    color: white !important;
    font-size: 22px;
}

footer > ul li {
    width:40%;
}

.fa_custom{
    color: white;
    
}

.shadow-div{
    background-color: #FFFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    border-radius: 5px !important;
}

.shadow-div > div > div{
    padding: 18px 0;
}

input.access{
    padding: 25px 10px;
}

article.item_div{
    background-color: #4CAF50 !important;
}

p.item-text{
    text-align: center !important;
}

div.item-content p.item-text:last-child{
    font-size: 20px;
    font-weight: bold;
}
div.item-content p.item-text:first-child{
    font-size: 25px;
    font-weight: bold;
}

.item-img > img {
    max-height: 160px;
    max-width:100%;
}

article.item-div{
    background-color: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24) !important;
    border-radius: 5px !important;
}

.page-subtitle{
    text-align: center !important;
}

article.cart-card img{
    display:inline-block;
    max-height: 100px;
    max-width: 100%;
}

.history-img{
    display:inline-block;
    max-height: 100px;
    max-width: 100%;
}

.bar-img{
    display: inline-block;
    max-height: 250px;
}

.qta-label{
    font-size: 18px;
    font-weight: bold;
}

.cart-info, .order-info, .notification-info, .card-text, .about-info{
    font-size:20px;
}

.nav-link{
    font-size: 20px;
}

.card-img-top{
    max-height: 260px;
}

.product-ingredients {
    font-size: 18px;
}

.order-info-sm{
    font-size: 15px;
}

.nome-piatto{
    font-size: 30px;
}

.p-prezzo{
    font-size: 25px;
}

label.clickableLabel{
    cursor: pointer;
    display: inline-block; 
}

.fa-cartcheck{
    color: white !important;
}

.fa-notification-check{
    color: green !important;
}

.bar-card-img {
    max-width: 500px;
    max-height: 700px;
}

div.card-body > p:nth-child(1) {
    font-size: 25px;
}

.info-profile {
    font-size: 25px !important;
}

.data-profile {
    font-size: 20px !important;
}

.error-text {
    font-size: 20px;
    font-weight: bold;
}

.logo{
    max-width: 300px;
    max-height: 150px;
}

.textarea-sm{
    width: 80%;
}

@media screen and (min-width:768px){
    .sidebar{
        display:none;
    }

    #nav-collapsed{
        display: none;
    }

    #nav-extended{
        display: block;
    }

    footer > ul li {
        width:60%;
    }

    .order-info-sm{
        font-size:20px;
    }
}
