<div class="row">
    <div class="col-10 col-md-8 col-lg-4 offset-1 offset-md-1 offset-lg-1 col-xl-4 offset-xl-1 pt-3 mt-4">
        <h1 class="font-weight-bold">Cosa facciamo?</h1>
    </div>
</div>
<div class="row col-md-12">
    <div class="shadow-div col-10 offset-1 col-sm-10 offset-sm-1 col-md-5 offset-md-1 col-lg-5 offset-lg-1 py-3 my-5">
        <h2 class="mb-4"><strong>TakeEatEasy</strong></h2>
        <p class="about-info">TakeEatEasy è un sito che offre la possiiblità di ordinare cibo a domicilio presso i bar della prorpia zona.<br/><br/>
                              Ordinare cibo a domicilio con TakeEatEasy è un’abitudine comune che non può mancare nella quotidianità di ognuno, sia per comodità, sia per assaggiare e sperimentare nuovi sapori.<br/><br/>
                              Tutto ciò che facciamo ruota intorno ai nostri valori. Ci fanno da guida ogni giorno per lavorare in squadra e prendere decisioni importanti, dalle scelte che hanno un impatto sulle assunzioni e sullo sviluppo del personale, a quelle che scrivono il futuro dei prodotti TakeEatEasy</p>
    </div>
    <div class="col-10 col-sm-10 col-md-5 col-lg-4 offset-1 offset-sm-1 offset-md-1 offset-lg-1 my-5 text-center">
        <img class="bar-img" src="img/TakeEatEasy_logo.png" alt="logo TakeEatEasy">
    </div>
</div>
