    <div class="row">
    <div class="col-8 col-md-8 col-lg-4 offset-2 offset-md-2 offset-lg-3 col-xl-3 offset-xl-3 pt-3 mt-4">
        <h1 class="font-weight-bold">Contatti</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="shadow-div col-10 offset-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 py-5 my-5">
            <div class="row col-10 offset-1">
                <h2>Domande sul tuo ordine?</h2>
                <p class="about-info">Siamo qui per aiutarti, mandaci una mail al seguente indirizzo: <em>supportEasy@gmail.com</em></p>
            </div>
            <div class="row col-10 offset-1 mt-4">
                <h2>Vuoi collaborare con noi?</h2>
                <p class="about-info">Contattaci al seguente indirizzo email per ricevere qualsiasi informazione desideri riguardo alla collaborazione con noi: <em>collabEasy@gmail.com</em></p>
            </div>
        </div>
    </div>
</div> 
