<div class="row">
    <div class="col-4 col-md-4 col-lg-4 offset-2 offset-sm-3 offset-md-1 offset-lg-1 pt-3 mt-4 pl-0">
        <h1 class="font-weight-bold">Homepage</h1>
    </div>
</div>
<div class="row">
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-1 my-5" onclick="location.href='order_customer.php'">
        <img class="card-img-top mt-2 pl-2" src="img/ordina.png" alt="Immagine: Ordina">
        <div class="card-body">
        <p class="card-text text-center"><strong>Ordina</strong></p>
        <p class="card-text text-center">Visita la lista dei Bar da cui ordinare</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-2 col-xl-2 offset-xl-2 my-5" onclick="location.href='access_page.php?id=register_user'">
        <img class="card-img-top mt-2" src="img/register.png" alt="Immagine: Registrati">
        <div class="card-body">
        <p class="card-text text-center"><strong>Registrati</strong></p>
        <p class="card-text text-center">Registrata un account per poter effettuare ordini o collaborare con noi</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-2 my-5" onclick="location.href='access_page.php?id=login'">
        <img class="card-img-top mt-2 pl-4 pr-0" src="img/login.png" alt="Immagine: Login">
        <div class="card-body">
        <p class="card-text text-center"><strong>Login</strong></p>
        <p class="card-text text-center">Entra nel tuo account</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-2 col-xl-2 offset-xl-1 my-5" onclick="location.href='about_us_page.php'">
        <img class="card-img-top mt-2" src="img/about-us.png" alt="Immagine: Cosa facciamo?">
        <div class="card-body">
        <p class="card-text text-center"><strong>Cosa facciamo?</strong></p>
        <p class="card-text text-center">Scopri che cos'è TakeEatEasy e come funziona</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-2 my-5" onclick="location.href='contacts_page.php'">
        <img class="card-img-top mt-2" src="img/contact.png" alt="Immagine: Contatti">
        <div class="card-body">
        <p class="card-text text-center"><strong>Contatti</strong></p>
        <p class="card-text text-center">Hai riscontrato qualche problema o vuoi collaborare con noi, entra in questa sezione per scoprire come contattarci</p>
        </div>
    </div>
</div>