<div class="row">
    <div class="col-10 col-md-6 col-lg-4 offset-2 offset-sm-3 offset-md-1 offset-lg-1 pt-3 mt-4 pl-0">
        <h1 class="font-weight-bold">Gestione Menù</h1>
    </div>
</div>
<div class="row">
    <div class="card col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-1 my-5 shadow-div" onclick="location.href='index.php'">
        <img class="card-img-top mt-2 px-2" src="img/homepage.png" alt="Immagine: homepage">
        <div class="card-body">
        <p class="card-text text-center"><strong>Homepage</strong></p>
        <p class="card-text text-center">Torno alla scermata principale</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-2 col-xl-2 offset-xl-2 my-5" onclick="location.href='pending_orders.php'">
        <img class="card-img-top mt-2 pl-5 pr-2" src="img/ordina.png" alt="Immagine: visualizza ordini">
        <div class="card-body">
        <p class="card-text text-center"><strong>Visualizza ordini</strong></p>
        <p class="card-text text-center">Visualizza l'elenco degli ordini che hai ricevuto</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-2 my-5" onclick="location.href='modify_menu.php'">
        <img class="card-img-top mt-2 pl-5 px-2" src="img/modify_menu.png" alt="Immagine: modifica Menù">
        <div class="card-body">
        <p class="card-text text-center"><strong>Modifica Menù</strong></p>
        <p class="card-text text-center">Modifica l'elenco dei piatti venduti dalla tua attività</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-2 col-xl-2 offset-xl-1 my-5" onclick="location.href='history_manager.php'">
        <img class="card-img-top mt-2" src="img/history_order.png" alt="Immagine: storico ordini">
        <div class="card-body">
        <p class="card-text text-center"><strong>Storico Ordini</strong></p>
        <p class="card-text text-center">Visualizza l'elenco degli ordini passati che hai già servito</p>
        </div>
    </div>
    <div class="card shadow-div col-8 offset-2 col-sm-6 offset-sm-3 col-md-4 offset-md-1 col-xl-2 offset-xl-2 my-5" onclick="location.href='settings.php'">
        <img class="card-img-top mt-2" src="img/settings.png" alt="Immagine: impostazioni">
        <div class="card-body">
        <p class="card-text text-center"><strong>Impostazioni</strong></p>
        <p class="card-text text-center">Modifica i dati del tuo account</p>
        </div>
    </div>
</div>