        <div class="row my-5 px-4">
            <div class="col-12 col-md-8 offset-md-2">
                <section class="shadow-div py-5 bg-light">
                    <header class="text-center">
                        <h1 class="font-weight-bold">Abbiamo ricevuto il tuo ordine!</h1>
                    </header>
                    <section class="text-center mt-5">
                        <h2>Grazie per aver usato</h2>
                        <img src="img/TakeEatEasy.png" alt="TakeEatEasy logo"/>
                    </section>
                    <footer class="text-center mt-5">
                        <form action="order_customer.php" method="GET">
                            <input type="submit" class="btn btn-safe-color" value="Homepage"/>
                        </form>
                    </footer>
                </section>
            </div>
        </div>